<div class="container align-self-center">
    <div class="row text-center">
        <div class="col-12 p-5">
            <h1><b class="text-center">Submit Tax Filling</b></h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="container">
            <ul class="progressbar" style="padding-left: 0px;">
                <li *ngFor="let step of [1, 2]; let i = index" [class.active]="currentStep === i + 1"
                    [class.passed]="isStepPassed(i + 1)" (click)="currentStep = i + 1">{{ 'Step ' + (i + 1) }}</li>
            </ul>
        </div>
    </div>
    <div *ngIf="currentStep === 1">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="row text-center table table-bordered">
                <div class="col-12">
                    <div class="row text-left p-3 pt-4">
                        <div class="col-12">
                            <label>
                                <h2><b>1. Type of filing <span style="color: red;">*</span></b></h2>
                            </label>
                            <hr>
                        </div>
                        <div class="col-4">
                            <input class="mr-2" type="radio" id="1" name="filingType" value="0"
                                formControlName="filingType" (change)="updateField()">
                            <label for="1">Ordinary Filing ?</label>
                        </div>

                        <div class="col-4">
                            <input class="mr-2" type="radio" id="2" name="filingType" value="1"
                                formControlName="filingType" (change)="updateField()">
                            <label for="2">Additional Filing ?</label>
                        </div>
                    </div>
                    <!-- filingType ------------------------------------0----------------------------------------- -->
                    <div class="row text-left p-3" *ngIf="myForm.value.filingType === '0'">
                        <div class="col-12">
                            <label>Vat Month <span style="color: red;">*</span></label>
                        </div>
                        <div class="col-12 d-sm-none d-block">
                            <select class="mr-2" name="month"
                                style="border: solid;height: 38px;border-radius: 5px;width: 45%;"
                                formControlName="month">
                                <option *ngFor="let month of months" [value]="month.id"
                                    [disabled]="isMonthDisabled(month.id)">{{month.nameMounth}}</option>
                            </select>
                            <select class="ml-2" name="year"
                                style="border: solid;height: 38px;border-radius: 5px;width: 45%;"
                                formControlName="year">
                                <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                        <div class="col-12 	d-none d-sm-block">
                            <select class="mr-2" name="month"
                                style="border: solid;height: 38px;border-radius: 5px;width: 15%;"
                                formControlName="month">
                                <option *ngFor="let month of months" [value]="month.id"
                                    [disabled]="isMonthDisabled(month.id)">{{month.nameMounth}}</option>
                            </select>
                            <select class="ml-2" name="year"
                                style="border: solid;height: 38px;border-radius: 5px;width: 15%;"
                                formControlName="year">
                                <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                        <div class="col-6 pt-5">
                            <label>
                                <h2 class="d-none d-sm-block"><b>2. Tax Computation <span
                                            style="color: red;">*</span></b></h2>

                                <h4 class="d-sm-none d-block"><b>2.Tax Computation<span style="color: red;">*</span></b>
                                </h4>
                            </label>
                        </div>
                        <div class="col-6 pt-5 text-right" style="align-self: self-end;">
                            <label>
                                <label><u>view Exchange Rate</u></label>
                            </label>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-12" style="align-self: self-end;">
                            <label><b>Provide total value taxtable electronic service
                                    <span style="color: red;">*</span></b></label>
                        </div>

                        <div class="col-sm-12 col-lg-8  col-md-8 pt-3">
                            <label>1.Total value of Taxable eletronic service exclusive of VAT</label>
                        </div>
                        <div class="col-sm-4 col-lg-4  col-md-4 pt-3 text-sm-left text-lg-right wrapper">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control text-right" id="saleAmount"
                                    formControlName="saleAmount" [value]="formattedSaleAmount"
                                    (focus)="displayRawTaxValue()" (blur)="formatAndDisplayTaxValue()"
                                    (input)="onInput($event)" (keydown)="onKeyDown($event)">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">THB</div>
                                </div>
                            </div>
                            <!-- <input type="text" name="taxAmount" style="border: solid; height: 38px; border-radius: 5px;"
                            [(ngModel)]="myForm.taxAmount" placeholder="THB">
                        <span><b>THB</b></span> -->
                        </div>


                        <div class="col-sm-12 col-lg-8  col-md-8 pt-3">
                            <label>2.Total VAT to be remitted (7% of 1.)</label>
                        </div>
                        <div class="col-sm-4 col-lg-4  col-md-4 pt-3 text-sm-left text-lg-right wrapper">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control text-right" id="taxAmount"
                                    formControlName="taxAmount" [value]="formattedTaxAmount"
                                    (focus)="displayRawTaxValue()" (blur)="formatAndDisplayTaxValue()"
                                    (input)="onInput($event)" (keydown)="onKeyDown($event)">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">THB</div>
                                </div>
                            </div>
                            <!-- <input type="text" name="taxAmount" style="border: solid; height: 38px; border-radius: 5px;"
                            [(ngModel)]="myForm.taxAmount" placeholder="THB">
                        <span><b>THB</b></span> -->

                        </div>
                    </div>
                    <!-- filingType ------------------------------------1-----------------------------------------  -->
                    <div class="row text-left p-3" *ngIf="myForm.value.filingType === '1'">
                        <div class="col-4 d-none d-sm-block">
                            <label>Vat Month <span style="color: red;">*</span></label>
                        </div>
                        <div class="col-8 d-none d-sm-block">
                            <label>Type <span style="color: red;">*</span></label>
                        </div>
                        <div class="col-4 d-none d-sm-block">
                            <select class="mr-2" name="month"
                                style="border: solid;height: 38px;border-radius: 5px;width: 45%;"
                                formControlName="month">
                                <option *ngFor="let month of months" [value]="month.id"
                                    [disabled]="isMonthDisabled(month.id)">{{month.nameMounth}}</option>
                            </select>
                            <select class="ml-2" name="year"
                                style="border: solid;height: 38px;border-radius: 5px;width: 45%;"
                                formControlName="year">
                                <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                        <div class="col-8 d-none d-sm-block">
                            <select class="ml-2" name="onTime" style="border: solid;height: 38px;border-radius: 5px;">
                                <option selected>On-Time</option>
                            </select>
                        </div>
                        <div class="d-sm-none d-block col-12">
                            <div class="col-12">
                                <label>Vat Month <span style="color: red;">*</span></label>
                            </div>
                            <div class="col-12">
                                <select class="mr-2" name="month"
                                    style="border: solid;height: 38px;border-radius: 5px;width: 45%;"
                                    formControlName="month">
                                    <option *ngFor="let month of months" [value]="month.id"
                                        [disabled]="isMonthDisabled(month.id)">{{month.nameMounth}}</option>
                                </select>
                                <select class="ml-2" name="year"
                                    style="border: solid;height: 38px;border-radius: 5px;width: 45%;"
                                    formControlName="year">
                                    <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
                                </select>
                            </div>

                            <div class="col-6">
                                <label>Type <span style="color: red;">*</span></label>
                            </div>
                            <div class="col-12">
                                <select name="onTime"
                                    style="border: solid;height: 38px;border-radius: 5px;">
                                    <option selected>On-Time</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 pt-5">
                            <label>
                                <h2 class="d-none d-sm-block"><b>2. Tax Computation <span
                                            style="color: red;">*</span></b>
                                </h2>

                                <h4 class="d-sm-none d-block"><b>2.Tax Computation<span style="color: red;">*</span></b>
                                </h4>
                            </label>
                        </div>
                        <div class="col-6 pt-5 text-right" style="align-self: self-end;">
                            <label>
                                <label><u>view Exchange Rate</u></label>
                            </label>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-12" style="align-self: self-end;">
                            <label><b>Provide total value taxtable electronic service
                                    <span style="color: red;">*</span></b></label>
                        </div>

                        <div class="col-sm-12 col-lg-8  col-md-8 pt-3">
                            <label>1.Underdeclared Thai taxable electronic service</label>
                        </div>
                        <div class="col-sm-4 col-lg-4  col-md-4 pt-3 text-sm-left text-lg-right wrapper">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control text-right" id="saleAmount"
                                    formControlName="saleAmount" [value]="formattedSaleAmount"
                                    (focus)="displayRawTaxValue()" (blur)="formatAndDisplayTaxValue()"
                                    (input)="onInput($event)" (keydown)="onKeyDown($event)">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">THB</div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 col-lg-8  col-md-8 pt-3">
                            <label>2.Total VAT to be remitted (7% of 1.)</label>
                        </div>
                        <div class="col-sm-4 col-lg-4  col-md-4 pt-3 text-sm-left text-lg-right wrapper">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control text-right" id="taxAmount"
                                    formControlName="taxAmount" [value]="formattedTaxAmount"
                                    (focus)="displayRawTaxValue()" (blur)="formatAndDisplayTaxValue()"
                                    (input)="onInput($event)" (keydown)="onKeyDown($event)">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">THB</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12" style="align-self: self-end;">
                            <label><b>In case of late filling and payment,or additional filling</b></label>
                        </div>

                        <div class="col-sm-12 col-lg-8  col-md-8 pt-3">
                            <label>3.Surecharge ?</label>
                        </div>
                        <div class="col-sm-4 col-lg-4  col-md-4 pt-3 text-sm-left text-lg-right wrapper">
                            <div class="input-group mb-2">
                                <input type="number" class="form-control text-right" id="inlineFormInputGroup" readonly
                                    id="surcharge" formControlName="surcharge" [value]="myForm.value.surcharge">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">THB</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-8  col-md-8 pt-3">
                            <label>4.Penalty ?</label>
                        </div>
                        <div class="col-sm-4 col-lg-4  col-md-4 pt-3 text-sm-left text-lg-right wrapper">
                            <div class="input-group mb-2">
                                <input type="number" class="form-control text-right" id="inlineFormInputGroup" readonly
                                    id="penalty" formControlName="penalty" [value]="myForm.value.penalty">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">THB</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-8  col-md-8 pt-3">
                            <label>5.Total amount of VAT, surchange, and penalty to be remitted (2.+3.+4.)</label>
                        </div>
                        <div class="col-sm-4 col-lg-4  col-md-4 pt-3 text-sm-left text-lg-right wrapper">
                            <div class="input-group mb-2">
                                <input type="number" class="form-control text-right" id="inlineFormInputGroup"
                                    id="totalAmount" formControlName="totalAmount" [value]="myForm.value.totalAmount"
                                    readonly>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">THB</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <button *ngIf="currentStep === 1" type="button" class="btn btn-light mr-3 w-sm-25 custom-box"
                    style="border-radius: 20px;border-color: black;" (click)="prevStep()"
                    [disabled]="currentStep === 1">Back</button>
                <button *ngIf="currentStep === 1" type="submit" class="btn btn-dark ml-3 w-sm-25 custom-box"
                    style="border-radius: 20px;">Next</button>
            </div>
        </form>
    </div>
    <div *ngIf="currentStep === 2">
        <div class="row text-center table table-bordered">
            <div class="col-12">
                <div class="row text-left p-3 pt-4">
                    <div class="col-12">
                        <label>
                            <h2><b>Tax Filling Detail</b></h2>
                        </label>
                        <hr>
                    </div>
                    <div class="col-3">
                        <label>
                            <h5><b>Type of filling</b></h5>
                        </label>
                    </div>
                    <div class="col-9">
                        <label>
                            {{myTextFilling(taxData.filingType)}}
                        </label>
                    </div>

                    <div class="col-3">
                        <label>
                            <h5><b>VAT Month</b></h5>
                        </label>
                    </div>
                    <div class="col-9">
                        <label>
                            {{myTextMY(taxData.month)}} {{taxData.year}}
                        </label>
                    </div>
                </div>
                <div class="row text-left p-3 pt-4">
                    <div class="col-12">
                        <label>
                            <h2><b>Tax Computation</b></h2>
                        </label>
                        <hr>
                    </div>
                    <div class="col-9">
                        <label>
                            <h5><b>Total value of taxable electronic service exclusive of VAT</b></h5>
                        </label>
                    </div>
                    <div class="col-3 text-sm-left text-lg-right ">
                        <label>
                            {{taxData.saleAmount}} THB
                        </label>
                    </div>

                    <div class="col-9">
                        <label>
                            <h5><b>Total VAT to be remitted</b></h5>
                            <span>(7% of Total value of taxable electronic service exclusive of VAT)</span>
                        </label>
                    </div>
                    <div class="col-3 text-sm-left text-lg-right ">
                        <label>
                            {{taxData.taxAmount}} THB
                        </label>
                    </div>

                    <div class="col-9">
                        <label>
                            <h5><b>Total Amount Payable</b></h5>
                        </label>
                    </div>
                    <div class="col-3 text-sm-left text-lg-right ">
                        <label>
                            <h6>
                                {{taxData.totalAmount }} THB
                            </h6>
                        </label>
                    </div>
                </div>

                <div class="row text-left p-3 pt-4">
                    <div class="col-12">
                        <label>
                            <h2><b>Declaration</b></h2>
                        </label>
                        <hr>
                    </div>
                    <div class="col-12">
                        <label>
                            <b>I hereby that information give above are true and correct and agree to be bound by such
                                information</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 pb-3" [ngClass]="{'text-center': currentStep === 2}">
            <button (click)="prevStep()" type=" button" class="btn btn-light mr-3 w-sm-50 text-center mt-1"
                style="border-radius: 10px;border-color: black;background-color: black; color: white;"
                *ngIf="currentStep === 2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
                    <path
                        d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z" />
                </svg></button>
            <button type="button" class="btn btn-light mr-3 w-sm-50 text-center mt-1"
                style="border-radius: 20px;border-color: black;background-color: black; color: white;"
                *ngIf="currentStep === 2" data-target="#exampleModalCenter" data-toggle="modal">Confrim
                and submit</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal tax filling detail</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{ taxData | json }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>